.board {
  display: flex;
  gap: 16px;
  padding: 8px;
  overflow-x: auto;
  border-radius: 4px;
}

.column {
  padding: 8px;
  min-width: 200px;
  max-width: 300px;
  flex: 1;
}

.columnTitle {
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
  padding: 8px;
  background-color: var(--bg-main);
  color: var(--text-main);
  border-radius: 6px;
}

.card {
  background: white;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
