.board {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 16px;
  padding: 0 8px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  max-height: calc(100vh - 400px);
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.columnTitle {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding: 8px;
  background-color: var(--bg-main);
  color: var(--text-main);
  border-radius: 6px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 4px; 
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}
