.taskform{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;   
}

.taskformInputs{
    display: flex;
    gap: 2rem;
}

.taskFormHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .taskFormHeaderRight{
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }
}

