.styledSelect{
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    > div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}