.taskCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-main) !important;
  color: var(--text-main) !important;
  // width: 400px;
  overflow: unset !important;
  cursor: pointer;
  justify-content: space-between;
  p{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
  }
}

.taskCardTitle{
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 70px;
  margin-bottom: 15px;
}
.xsmall{
  width: 100%;
  max-width: 300px; 
}

.small{
    width: 300px; 
}

.medium{
    width: 400px; 
}

.large{
    width: 500px; 
}



.taskDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .taskDetailsItem { 
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      gap: 0.5rem;
      font-size: 0.875rem !important;
      color: var(--text-secondary);
    }
  }

.taskDetailsFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 0;
    border-top: 1px solid var(--divider-border-color);
    .taskDetailsFooterItem{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.875rem !important;
        color: var(--text-secondary);
    }
}