.dailyTaskModalContent{
    display: flex;
    flex-direction: column;
}

.titleInput{
    color: var(--text-main) !important;
    &::before{
        border-color: var(--divider-border-color) !important;
    }
}